<launch>

  <node name="base_rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find henrybot_description)/rviz/henry_base.rviz"/>

  <node name="arm_rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find henrybot_description)/rviz/henry_arm.rviz"/>

</launch>


