<?xml version="1.0"?>
<robot name="henry" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />

  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix_" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="${tf_prefix_}/" />
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}"/>
  <xacro:controller_plugin_gazebo robot_namespace=""/>


  <!-- table -->
  <xacro:include filename="$(find henrybot_description)/urdf/table.urdf.xacro" />
  <xacro:table prefix="" />

  <joint name="${prefix}table_to_mir" type="fixed">
    <parent link="${prefix}base_footprint"/>
    <child link="${prefix}table_mir"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- UR5e -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
  <xacro:ur5e_robot prefix="${prefix}ur5e_" />
  
  <joint name="${prefix}ur_to_table" type="fixed">
    <parent link="${prefix}table_mir"/>
    <child link="${prefix}ur5e_base_link"/>
    <origin xyz="0.325 0.0 0.85" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- ROS-Industrial 'base' frame: base_link to UR 'Base' Coordinates transform -->
  <link name="${prefix}base"/>
    <joint name="${prefix}base_link-base_fixed_joint" type="fixed">
      <!-- Note the rotation over Z of pi radians: as base_link is REP-103
           aligned (ie: has X+ forward, Y+ left and Z+ up), this is needed
           to correctly align 'base' with the 'Base' coordinate system of
           the UR controller.
      -->
      <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base"/>
    </joint>

  <!-- Gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix=""/>


  <joint name="${prefix}gripper_to_ur" type="fixed" >
    <parent link="${prefix}ur5e_tool0" />
    <child link="${prefix}robotiq_arg2f_base_link" />
  </joint>

</robot>
